* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;

}
p{
    font-size: 16px;
    color: black;
    margin: 15px 0px 20px 0px;

}
.container1{
    padding: 40px 80px;
}
.container2{
    margin: 40px 0px;
}
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: rgb(233, 232, 251);
    box-shadow: 0px 5px 15px rgb(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0px;
    left: 0px;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
}
#navbar li{
    list-style: none;
    padding: 0px 20px;
    position: relative;
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #1a1a1a;
}
#navbar li a:hover,
#navbar li a:active{
      color: #077f77;
      
}

h4{
    font-size: 50px;
}
h3{
    font-size: 55px;
}
#main{
    background-image: url(img\main1.png);
    background-image: url(img\main1.png);
    background-color: rgb(233,232,251);
    height: 90vh;
    width: 100%;
    background-position: top 25% right 0%;
    background-size: cover;
    padding: 0px 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#main h4{
    padding-bottom: 15px;
}
#main button{
    background-image: url(img\button.png);
    background-color: transparent;
    border: 0px;
    padding: 14px 80px 14px 65px;
    font-size: 20px;
}
#features{
    padding: 40px 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.featurebox img{
    width: 30px;
    height: 30px;
}
.featurebox{
    width:150px ;
    height: 120px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
    border: 1px solid rgb(220, 217, 217);
    border-radius: 4px;
    margin: 15px 0px;
    margin-right: 4px;
}
#features .featurebox:hover{
    box-shadow: 10px 10px 54px rgba(60,60,200,0.1);

}
#features .featurebox h6{
    display: inline-block;
    padding: 9px 9px 6px 9px;
    line-height: 1;
    border-radius: 4px;
    color: aliceblue;
    background-color: #077f77;
    margin-top: 10px;
    margin-bottom: 5px;
}
